<div class="container">
<div class="row" infinite-scroll (scrolled)="onScrollDown()">
    <div class="col " *ngFor="let actor of actorslist">
       <div class="card mx-auto">
           <div class="card-inner">
               <div class="header">
                    <h4 class="text-muted">{{actor.name}}</h4>
                    <h6 class="text-muted">Height: {{actor.height}} cms</h6>
                    <h6 class="text-muted">Mass: {{actor.mass}} kgs</h6>
                    <h6 class="text-muted">Hair color: {{actor.hair_color}}</h6>
                    <h6 class="text-muted">Skin color: {{actor.skin_color}}</h6>
                    <h6 class="text-muted">Eyes color: {{actor.eye_color}}</h6>
                    <h6 class="text-muted">Appears on: </h6>
                    
                    <app-actor-films [actor]="actor"></app-actor-films>
                    
                    <app-actor-starships [actor]="actor"></app-actor-starships>
                    </div>
               </div>
           </div>
       </div>
    </div>
</div>
<button
[ngClass]="'no-hidden'" 
*ngIf="showGoUpButton"
class="btn btn-dark"
(click)="onScrollTop()">
GO UP
</button>
