<div class="container col-xxl-12 px-4 py-5">
    <!-- CAROUSEL STARTS -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/last-jedi.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/solo.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/skywalker.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/sith.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/avco.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
        </div>
      <!-- CAROUSEL FINISHS -->
  <div class="row align-items-center g-5 py-5">
    <div class="">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Star Wars
      </h1>
      <p class="lead fw-normal mb-3">
        It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire. During the battle, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet. Pursued by the Empire’s sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy…
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-5">
          <button  [routerLink]="['/starships']" class="btn btn-outline-secondary btn-lg px-4">Click to check the Starships list</button>
      </div>

      <audio controls autoplay preload="auto">
        <source src="./assets/star-wars-theme-song.mp3" type="audio/mp3">
          Tu navegador no soporta audio HTML5.
      </audio>
    </div>
  </div>
</div>
