<div class="container" >
  <div class="row">
    <div class="col col-sm-10 col-md-8 mx-auto d-block">
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <h1 class="h3 mb-3 fw-normal text-white">Please log in</h1>

        <div class="form-floating mb-2">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            required
            ngModel name="userEmail"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-2">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            required
            ngModel name="userPassword"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <button 
        class="w-100 btn btn-lg btn-primary mb-2" 
        type="button" 
        [disabled]="!loginForm.valid">
          Log in
        </button>
          <button class="w-100 btn btn-lg btn-danger" type="button">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
