<div class="container">
<div class="row" infinite-scroll (scrolled)="onScrollDown()">
    <div class="col " *ngFor="let starship of shipslist">
       <div class="card mx-auto">
           <div class="card-inner">
               <div class="header">
                   <div (click)="goToDetail(starship.url)">
                    <h2 class="text-muted">{{starship.name}}</h2>
                    <h4 class="text-muted">Model: {{starship.model}}</h4> 
                   </div>
               </div>
           </div>
       </div>
    </div>
</div>
</div>
<button
[ngClass]="'no-hidden'" 
*ngIf="showGoUpButton"
class="btn btn-dark"
(click)="onScrollTop()">
GO UP
</button>
