<div class="container">
<div class="row" infinite-scroll (scrolled)="onScrollDown()">
    <div class="col " *ngFor="let item of shipslist">
       <div class="card mx-auto">
           <div class="card-inner">
               <div class="header">
                   <a [routerLink]="['/card']">
                    <h2 class="text-muted">{{item.name}}</h2>
                    <h4 class="text-muted">Model: {{item.model}}</h4> 
                   </a>
                   
               </div>
           </div>
       </div>
    </div>
</div>
</div>
<button
[ngClass]="'no-hidden'" 
*ngIf="showGoUpButton"
class="btn btn-dark"
(click)="onScrollTop()">
GO UP
</button>
